{% extends "base.html" %}

{% block content %}

<h1>Kenn's Sign-up Page</h1>
<form action="/" method="POST">
    <table>
        <tr>
            <td>
                <label for="username">Username: </label>
            </td>
            <td>
                <input name=username type="text" value="{{username}}" required>
            </td>
            <td>
                {% if username_error %}
                <span class='error'>{{ username_error}}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <label for="password">Password: </label>
            </td>
            <td>
                <input name=password type="password" value="{{password}}" required>
            </td>
            <td>
                {% if password_error %}
                <span class='error'>{{ password_error }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <label for="verify_password">Verify Password: </label>
            </td>
            <td>
                <input name=verify type="password" value="{{verify}}" required>
            </td>
            <td>
                {% if verify_error %}
                <span class='error'>{{ verify_error }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <label for="email"> Email (Optional): </label>
            </td>
            <td>
                <input name=email type="email" value="{{email}}">
            </td>
            <td>
                {% if email_error %}
                <span class='error'>{{ email_error }}</span>
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
