<!DOCTYPE HTML>
<html>
    <head>
        <body style="text-align: center">
            <h1 align="center">Kenn's Sign-up Page</h1>
            <form method ="post">
                <table align="center">
                    <tbody>
                        <tr>
                            <td>
                                <label for="username">Username:</label>
                            </td>
                            <td>
                                <input name="username" value="" type="text" />
                                <span class="error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="password">Password:</label>
                            </td>
                            <td>
                                <input name="password" type="password" />
                                <span class="error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="re-enter">Re-enter Password:</label>
                            </td>
                            <td>
                                <input name="re-enter" type="password" />
                                <span class="error"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email (optional):</label>
                            </td>
                            <td>
                                <input name="email" value="" type="text" />
                                <span class="error"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <input type="submit" value="Click here to submit" />
            </form>
        </body>
    </head>
</html>
